// === Variables === \\
// Colors
$black: #000;
$white: #fff;

// for project

$black-2: #1a1818;
$light-white: #e5e5e5;
$green: #8cc541;
$dark-gray: #575757;

// Font Families
// $primary-color: #623f98;
// $primary-font: 'Red Hat Text';

// $secondary-font: 'Montserrat', sans-serif;

// Font Sizes
$primary-font-size: 1.7px;
// $secondary-font-size: 1.6rem;

// Line Heights
// $primary-line-height: 2.06;

// $secondary-font: Montserrat;
